html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}
body {
    line-height: 1
}
ol,ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 100%;
    height: 100%
}
body {
    height: 100%;
    min-width: 320px;
    background-color: #e1effc;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden
}
h1,
h2 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    color: #ffffff;
    margin-left: -440px;
}
p, a, span, ul {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    color: #443e3a
}
a {
    text-decoration: none
}
ul {
    line-height: 16px;
    line-height: 1rem
}
.two-column {
    width: 46%;
    float: left
}
@media screen and (max-width: 865px) {
    .two-column {
        width: auto;
        float: none
    }
}
.clear {
    clear: both
}
.content-wrapper {
    position: relative;
    height: 100%
}
.main-site {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #e1effc;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.7)
}
.content {
    position: relative;
    padding-bottom: 70px
}
@media screen and (max-width: 865px) {
    .content {
        height: 100%;
        padding-bottom: 0
    }
}
.site-header {
    position: relative;
    z-index: 20
}
.site-header-top-bar {
    width: 100%;
    height: 6px;
    background-color: #e1effc;
}
.main-nav {
    background-color: #296eb3;
    display: none;
}
@media screen and (max-width: 865px) {
    .main-nav {
        display: inline-block;
        height: 47px;
        width: 100%;
        background-color: #296eb3;
    }
}
.main-nav-content {
    height: 47px;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow: inset 0px -5px 20px -5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -5px 20px -5px rgba(0, 0, 0, 0.15)
}
.main-nav-content>ul>li>a {
    color: #fffae8;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    font-size: 0.875rem
}

.main-nav-selector {
    position: absolute;
    display: block;
    height: 6px;
    bottom: -6px;
    left: 10px;
    right: 10px;
    background-color: #f2783c;
    opacity: 0
}
.main-nav-selector.current {
    bottom: 0;
    opacity: 1
}
.main-nav-left {
    display: inline-block;
    margin-left: 61px
}
.sub-nav {
    height: 440px;
    background-color: #e1effc;
    background-image: url("../images/Disney-header.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 360px;
}
.sub-nav>ul {
    display: inline-block
}
.sub-nav>ul>li {
    display: table-cell;
    height: 47px;
    vertical-align: middle;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px
}
.sub-nav>ul>li>a {
    color: #77726a;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    font-size: 1.875rem;
    white-space: nowrap
}
.sub-nav>ul>li>a:hover {
    color: #f2783c
}
.sub-nav>ul>li>a.current {
    color: #ffffff;
}
@media screen and (max-width: 865px) {
    .sub-nav {
        display: none;
    }
}
.header-logo {
    position: relative;
    display: inline-block;
    background-image: url("../images/nav_logo-89193ebe6563.png");
    background-repeat: no-repeat;
    background-position: 0 10px;
    width: 240px;
    height: 43px;
    padding-left: 90px;
    padding-top: 20px;
    color: #ffffff;
    vertical-align: middle;
}
.main-nav-right {
    display: inline-block
}
.main-nav-item {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 44px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
}
.main-nav-item>a:hover {
    color: #5b5552;
    text-shadow: 1px 1px 1px #9f9a88
}
.main-nav-item>a.current {
    color: #5b5552;
    text-shadow: 1px 1px 1px #9f9a88
}
.site-footer {
    width: 100%;
    height: 70px;
    background-color: #e1effc;
    text-align: center;
    overflow: hidden;
    position: absolute
}
@media screen and (max-width: 865px) {
    .site-footer {
        display: inline-block;
        height: 160px;
    }
}
.footer-bottom-bar {
    position: relative;
    width: 100%;
    height: 31px;
    background-color: #e1effc;
    top: 38px;
    z-index: 1
}
.footer-line {
    position: relative;
    width: 100%;
    bottom: 12px;
    border-bottom: 1px solid #296eb3;
}
.footer-content {
    position: relative;
    display: inline-block;
    bottom: 27px;
    margin-left: 60px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #e1effc;
}
@media screen and (max-width: 650px) {
    .footer-content {
        margin-left: 0;
        padding-left: 8px;
        padding-right: 8px
    }
}
.copyright {
    position: relative;
    display: inline-block;
    bottom: 25px
}
.copyright>p {
    color: #5b5552;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    font-size: 0.6875rem;
    letter-spacing: 1.6px;
    letter-spacing: 0.1rem
}
.footer-logo {
    width: 0px;
    height: 44px;
    display: inline-block;
    position: relative;
    top: -6px;
    z-index: 2
}
.footer-links {
    position: relative;
    display: inline-block;
    bottom: 22px;
    margin-top: 30px
}
.footer-links>li {
    display: inline-block;
    padding-left: 4px;
    padding-right: 6px;
    padding-bottom: 2px;
    border-right: 1px solid rgba(91, 85, 82, 0.65)
}
.footer-links>li>a {
    color: #5b5552;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    font-size: 0.6875rem;
    letter-spacing: 1.6px;
    letter-spacing: 0.1rem
}
.footer-links>li>a b {
    font-weight: 700
}
.footer-links>li:last-child {
    border-right: 0px;
    padding-right: 0
}
@media screen and (max-width: 865px) {
    .footer-links>li {
        display: block;
        border-right: none;
        padding-bottom: 4px;
        padding-left: 6px;
        text-align: center
    }
}
.page-content {
    margin-bottom: 35px
}
.page-info {
    width: 860px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px
}
@media screen and (max-width: 970px) {
    .page-info {
        width: 585px
    }
}
@media screen and (max-width: 865px) {
    .page-info {
        width: 100%;
        margin-top: -5px;
        margin-bottom: 25px;
        padding-bottom: 0
    }
}

.page-title,
.page-title-events,
.page-title-news {
    position: relative;
    display: inline-block;
    width: 3000px;
    height: 51px;
    left: -1100px;
    text-align: center;
    vertical-align: top;
    background-color: #296eb3;
    margin-top: 5px;
    margin-right: -1750px;
    padding-right: 15px
}
.page-header-logo,
.page-header-featured,
.page-header-more {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    background-color: #296eb3;
    margin-top: 5px;
}
.page-header-more {
    margin-bottom: 30px;
}
.page-header-featured {
    margin-bottom: 30px;
}
.page-title {
    display: none;
}
.page-title>h1,
.page-title-events>h1,
.page-title-news>h1 {
    padding-top: 11px;
    font-size: 30px;
    font-size: 1.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style: normal;
    vertical-align: middle
}
@media screen and (max-width: 865px) {
    .page-title {
        display: inline-block;
    }
}

.page-header-featured>h2,
.page-header-more>h2 {
    width: 860px;
    margin: 0 auto;
    padding: 11px 0;
    font-size: 30px;
    font-size: 1.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    vertical-align: middle;
}
@media screen and (max-width: 865px) {
    .page-title>h1,
    .page-title-events>h1,
    .page-title-news>h1,
    .page-header-featured>h2,
    .page-header-more>h2,
    .page-header-logo>a {
        font-size: 19.2px;
        font-size: 1.2rem;
        font-weight: 500;
    }
}
@media screen and (max-width: 865px) {
    .page-title {
        left: -1160px;
    }
}
@media screen and (max-width: 865px) {
    .page-header-logo {
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 865px) {
    .page-header-featured>h2,
    .page-header-more>h2 {
        width: unset;
        text-align: center;
    }
}

.page-text,
.page-text-events {
    position: relative;
    display: inline-block;
    width: 475px;
    right: 0
}
.page-text>p,
.page-text-events>p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 22.4px;
    line-height: 1.4rem
}
.page-text>p>a,
.page-text-events>p>a {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline
}
.page-text>p>a:hover,
.page-text-events>p>a:hover {
    color: #f2783c
}
.page-text>p>strong,
.page-text-events>p>strong {
    font-weight: 700
}

.tile {
    background-color: #fffae8;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 17px;
    margin-bottom: 17px;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5)
}
.tile .top {
    border-bottom: 1px solid #bdb8a6
}
.tile .top h2 {
    color: #443e3a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 19.2px;
    line-height: 1.2rem
}
.tile .top>img {
    width: 100%
}
.tile .top h3 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: #443e3a;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 17.6px;
    line-height: 1.1rem
}
.tile .bottom {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden
}
.tile .bottom .description {
    margin-bottom: 20px
}
.tile .bottom .description.wide {
    width: 50%;
    float: left;
    padding-right: 1px
}
.tile .bottom .links.wide {
    width: 50%;
    float: left
}
.tile .bottom p {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    line-height: 1rem;
    padding-left: 15px;
    padding-right: 15px
}
.tile .bottom ul li {
    padding-bottom: 7px
}
.tile .bottom ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    line-height: 1rem;
    margin-left: 15px;
    padding-left: 30px;
    padding-right: 15px;
    background-image: url("/images/global/down-arrow.png");
    background-repeat: no-repeat;
    background-size: contain
}
@media screen and (max-width: 700px) {
    .tile .bottom .description.wide {
        width: 100%;
        float: none
    }
    .tile .bottom .links.wide {
        width: 100%;
        float: none
    }
}
@media screen and (max-width: 865px) {
    .tile {
        margin-left: 15px;
        margin-right: 15px
    }
    .tile .bottom .description.wide {
        width: 100%;
        float: none
    }
    .tile .bottom .links.wide {
        width: 100%;
        float: none
    }
}

.section-type {
    display: inline-block;
    margin-top: 18px;
    margin-left: 65px
}
.section-type:last-child {
    padding-left: 65px;
    border-left: 1px solid #f2783c
}
.section-type>a {
    display: block;
    color: #443e3a;
    font-size: 18px;
    font-size: 1.125rem;
    padding-top: 5px;
    padding-bottom: 5px
}
.section-type>a:hover {
    color: #f2783c
}
.terms-content {
    width: 860px;
    margin-left: auto;
    margin-right: auto
}
.terms-content>h2 {
    color: #443e3a;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 20px
}
.terms-content>p {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 30px;
    line-height: 16px;
    line-height: 1rem
}
.terms-content>p>a {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: underline
}
.terms-content>p>a:hover {
    color: #f2783c
}
.terms-content>ol {
    padding-bottom: 20px;
    list-style: decimal
}
.terms-content>ol>li {
    color: #443e3a;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 40px;
    padding-bottom: 10px;
    line-height: 17.6px;
    line-height: 1.1rem
}
.technology-content {
    width: 860px;
    margin-left: auto;
    margin-right: auto
}
.technology-content>section {
    margin-bottom: 40px
}
.technology-content>section>h2 {
    color: #443e3a;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px
}
.technology-content #talks {
    display: none
}
.technology-content .share-this-content {
    float: right;
    margin-top: 1em
}
.publication {
    width: 850px;
    background-color: #fffae8;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center
}
.publication>.publication-image {
    display: inline-block;
    width: 188px;
    height: 105px;
    margin-top: 20px;
    margin-left: 20px;
    vertical-align: top;
    border: 1px solid #b5b2a4;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden
}
.publication-content {
    display: inline-block;
    width: 72%;
    padding: 20px;
    text-align: left
}
.publication-content>header {
    padding-bottom: 20px
}
.publication-content>header>h3 {
    color: #443e3a;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 2px
}
.publication-content>header>span {
    color: #443e3a;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal
}
.publication-content>.publication-authors {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 17.6px;
    line-height: 1.1rem;
    padding-bottom: 5px
}
.publication-content>.publication-body {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 20px;
    line-height: 24px;
    line-height: 1.5rem
}
.publication-content .share-this-content>p {
    margin-left: 8px
}
.publication-resource {
    display: inline-block;
    height: 25px;
    background-repeat: no-repeat;
    padding-top: 6px;
    color: #f2783c;
    font-size: 12.8px;
    font-size: 0.8rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    padding-right: 20px
}
.publication-resource.pdf {
    background-image: url("/images/technology/publications/pdf_icon.png");
    padding-left: 25px
}
.publication-resource.movie {
    background-image: url("/images/technology/publications/movie_icon.png");
    background-position-y: 3px;
    padding-left: 30px
}
.publication-resource.material {
    background-image: url("/images/technology/publications/zip_icon.png");
    background-position-y: 3px;
    padding-left: 32px
}
.page-back-to-top {
    display: none
}
@media screen and (max-width: 930px) {
    .page-publications .page-info {
        width: auto
    }
    .page-publications .page-text,
    .page-publications .page-text-events {
        width: auto
    }
    .page-publications .section-type {
        margin: 18px 0;
        padding: 0 15px
    }
    .page-publications .section-type:last-child {
        padding: 0 15px
    }
    .page-publications .technology-content {
        width: auto;
        margin: 0 2em
    }
    .page-publications .publication {
        width: 100%;
        overflow: hidden
    }
    .page-publications .publication-image {
        float: left;
        display: block
    }
    .page-publications .publication-image img {
        display: block
    }
    .page-publications .publication-content {
        display: block;
        width: auto;
        overflow: hidden
    }
}
@media screen and (max-width: 865px) {
    .technology-content .share-this-content {
        display: none
    }
    .page-back-to-top {
        display: block;
        position: fixed;
        top: 55px;
        right: -5px;
        color: #fffae8;
        background: #b5b2a4 url("/images/global/arrow-top.png") no-repeat 5px center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 6px 10px 6px 21px;
        font-size: 11px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        text-align: center;
        line-height: 1.1;
        word-spacing: 2px;
        white-space: nowrap;
        cursor: pointer;
        z-index: 3
    }
    .page-publications {
        position: relative;
        z-index: 1
    }
    .page-publications .page-title,
    .page-publications .page-title-events,
    .page-publications .page-title-news {
        z-index: 4
    }
    .page-publications .page-text,
    .page-publications .page-text-events {
        z-index: 2;
        display: block;
        right: auto;
        width: auto;
        margin: 1em;
        text-align: center
    }
    .page-publications .section-type {
        position: relative;
        background: #fffae8;
        margin: 0 0.5em;
        width: 40%;
        text-align: center
    }
    .page-publications .section-type:last-child {
        border: 0;
        padding-left: 0
    }
    .page-publications .section-type:hover {
        background: #f2783c
    }
    .page-publications .section-type:hover>a {
        color: #fffae8
    }
    .page-publications .technology-content {
        width: auto;
        margin: 0 1em
    }
    .page-publications .publication {
        width: auto;
        padding-top: 20px
    }
    .page-publications .publication-image {
        display: block;
        float: none;
        margin: 0 auto
    }
    .page-publications .publication-content {
        display: block;
        width: auto
    }
    .page-publications .publication-resource {
        display: block;
        margin: 7px 0;
        padding-left: 32px
    }
}
.page-open-source .page-text,
.page-open-source .page-text-events,
.innovations .page-text,
.innovations .page-text-events {
    width: auto;
    display: block;
    right: auto;
    padding: 0 1em
}
.page-open-source .page-text p,
.page-open-source .page-text-events p,
.innovations .page-text p,
.innovations .page-text-events p {
    margin: 1em 0
}
.open-source {
    position: relative;
    width: 850px;
    min-height: 170px;
    background-color: #ffffff;
    margin: 0 auto 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center
}
.open-source>.open-source-image {
    display: inline-block;
    width: 255px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
    vertical-align: top;
    overflow: hidden;
    background: #ffffff;
}
.open-source>.no-img {
    background: #296eb3;
}
.open-source>.open-source-image>span {
    color: #ffffff;
    display: table-cell;
    font-size: 30px;
    font-size: 1.875rem;
    height: 130px;
    width: 255px;
    vertical-align: middle;
}
.open-source-content {
    display: inline-block;
    width: 65%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 20px;
    text-align: left
}
.open-source-content>.open-source-body {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 15px;
    padding-bottom: 20px;
    line-height: 24px;
    line-height: 1.5rem
}
.open-source-content>.open-source-bu {
    font-weight: 600;
    line-height: 24px;
    line-height: 1.5rem
}
.open-source-content>.open-source-read-link {
    position: absolute;
    bottom: 0;
    width: 532px;
    height: 37px;
    border-top: 1px solid #296eb3;
}
.open-source-content>.open-source-read-link>a {
    text-transform: capitalize;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
    padding-right: 10px;
    color: #ffffff;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #296eb3;
    -webkit-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0
}
.github-link {
    margin: 2px 65px 0 0;
    text-align: right;
}
.source-link {
    margin: 10px 65px 0 0;
    text-align: right;
}
.source-link>a{
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
}
@media screen and (max-width: 865px) {
    .github-link {
        margin: 2px 0px 0 0;
        text-align: center;
    }
}
@media screen and (max-width: 865px) {
    .source-link {
        margin: 10px 0px 10px 0;
        text-align: center;
    }
}
@media screen and (max-width: 930px) {
    .page-open-source .page-info {
        width: auto;
        margin: 0 2em;
    }
    .page-open-source .page-text,
    .page-open-source .page-text-events {
        width: auto;
        display: block
    }
    .page-open-source .technology-content {
        width: auto;
        margin: 0 2em
    }
    .page-open-source .open-source {
        width: 100%;
        overflow: hidden
    }
    .page-open-source .open-source-image {
        float: left;
        display: block
    }
    .page-open-source .open-source-image img {
        display: block
    }
    .page-open-source .open-source-content {
        display: block;
        width: auto;
        overflow: hidden
    }
    .page-open-source .open-source-body {
        padding-bottom: 0
    }
    .page-open-source .open-source-read-link {
        position: relative;
        width: auto;
        height: auto;
        bottom: auto;
        border: 0;
        float: left
    }
    .page-open-source .open-source-read-link a {
        position: relative;
        bottom: auto;
        right: auto;
        padding: 8px 12px;
        -webkit-border-radius: 4px;
        border-radius: 4px
    }
}
@media screen and (max-width: 865px) {
    .page-open-source .page-info {
        width: auto
    }
    .page-open-source .open-source-image {
        float: none;
        margin-left: auto;
        margin-right: auto
    }
    .page-open-source .open-source-content {
        text-align: center
    }
    .page-open-source .open-source-body {
        text-align: left
    }
    .page-open-source .open-source-read-link {
        width: 100%
    }
    .page-open-source .open-source-read-link a {
        width: 4em;
        margin: 0 auto
    }
}
.project-slide {
    max-width: 850px;
    margin-left: 5px;
    margin-bottom: 0px !important;
}
.project-slide>.open-source {
    min-height: 200px !important;
}
.slick-slide { min-height: 200px !important; }
.slick-slide:focus { outline: none; }